.appStyles {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.wrapperStyles {
  position: relative;
  width: 500px;
  height: 700px;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 12px;
}

/* Mobile Styles */
@media only screen and (max-width: 550px) {
  .wrapperStyles {
      width: 330px;
      height: 500px;
  }
}