.commonButtonStyles {
    color: white;
    border: 10px solid #f3f3f3;
    border-radius: 100px;
    background: #fff;
    cursor: pointer;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
}